.zigsin-header {
    width: 100%;
    /* background-color: black !important; */
    background: rgba(0, 0, 0, 1) !important;
    padding-left: 2vw;
    padding-right: 2vw;
}

.zigsin-header-button {
    position: relative;
    color: white;
    background-color: transparent;
    margin-left: 1vw;
    padding: 5% 15% 5% 15%;
    border-color: transparent;
    font-size: 16px;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.zigsin-header-button:hover {
    transform: translateY(-4px);
}

.zigsin-header-more-button {
    display: none;
    position: relative;
    color: white;
    border-radius: 50px;
    background-color: transparent;
    padding: 5% 8%;
    margin-left: 30%;
    border-color: transparent;
    float: right;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 768px) {
    .zigsin-header-more-button {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
    }
}

.zigsin-header-more-button:hover {
    transform: translateY(-4px);
}